networks:
  theprepared:
    external: true

services:
  # Traefik (리버스 프록시) - 변화 없음
  traefik:
    image: "traefik:latest"
    container_name: "traefik"
    restart: unless-stopped
    command:
      - "--configFile=/etc/traefik/traefik.yml"
      - "--log.level=DEBUG"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./letsencrypt:/letsencrypt"
      - "./traefik.yml:/etc/traefik/traefik.yml:ro"
    networks:
      - theprepared
    labels:
      - "traefik.enable=true"

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ../PFM/account-app/staticfiles:/var/www/html/account/static:ro
      - ../invest/staticfiles:/var/www/html/invest/static:ro
      - ../invest/media:/var/www/html/invest/media:ro
      - ../websites/wordpress-app/www/html:/var/www/html/wordpress:ro
      - ../websites/wordpress-app/www/phpmyadmin:/var/www/phpmyadmin:ro
      - ../websites/django_blog/staticfiles:/var/www/html/django_blog/static:ro
      - ../websites/django_blog/media:/var/www/html/django_blog/media:ro
    networks:
      - theprepared
    
